# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = <yourname>
	email = yourname@example.com
[alias]
	changes = "!git lol `git tracked-remote`..HEAD"
	co = checkout
	cp  = cherry-pick
	logd = log --decorate
	logdn = log --decorate --name-only
	lol = log --pretty="'%C(magenta)%h%Creset%C(cyan)%d%Creset %C(white)%s%Creset%C(yellow) (%ar)%Creset'"
	ln = log -10 --pretty="'%C(magenta)%h%Creset%C(cyan)%d%Creset %C(white)%s%Creset%C(yellow) (%ar)%Creset'"
	missing = lol HEAD..main
	new = lol main..HEAD
	rg = "!sh -c 'rg -n $1' -" 
	stash-keep = stash --keep-index
	sw = switch
	track = "!f() { git branch --set-upstream-to=$1; }; f"
	tracked-remote = rev-parse --abbrev-ref --symbolic-full-name @{u}
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
[rerere]
	enabled = true
